__pycache__
.DS_Store
.idea
RACE.tar.gz
bert-large-cased-vocab.txt
bert-large-uncased-vocab.txt
bert-base-cased-vocab.txt
bert-base-uncased-vocab.txt
llama-7b-vocab.txt
opt-3b-vocab.txt
opt-3b-merges.txt
opt-3b-vocab.json
xlm-roberta-xl-vocab.txt
tools/llama-7b-vocab.json
tools/llama-7b-merges.txt
tools/llama-2-tokenizer
tools/opt-3b-tokenizer
tools/xlm-roberta-xl-tokenizer
tools/roberta-base-tokenizer
tools/save_vocab.py
glue_data
megatron_bert_345m_v0.1_cased.zip
megatron_bert_345m_v0.1_uncased.zip
examples/results
RACE
examples/checkpoints
try*.py
my-corpus.json
examples/nsys_record
megatron/fused_kernels/build
logs*
parse_logs
my-book-200_text_sentence*
tools/split.txt
visualization*
performance*
gpt2-merges.txt
gpt2-vocab.json
lambada_test.jsonl
megatron_lm_345m_v0.0.zip
wikitext-103-v1.zip
hf_data
results
glue_results
vis_compression
breakdown*
vit_results
powersgd_logs
powersgd_logs_local