certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
filelock==3.14.0
fonttools==4.51.0
fsspec==2024.3.1
huggingface-hub==0.22.2
idna==3.7
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.8.4
ninja==1.11.1.1
numpy==1.23.5
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pybind11==2.12.0
pyDeprecate==0.3.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.4.28
requests==2.31.0
safetensors==0.4.3
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
tokenizers==0.19.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.8.2
torchvision==0.13.1+cu113
tqdm==4.66.2
transformers==4.40.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wikiextractor==3.0.6
zipp==3.18.1
